<header class="container">
  <div class="row page-nav">
    <div class="col-xs-12">
      <button ui-sref="cases.index" class="btn btn-secondary">Return</button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1 class="header-title">Updates for Case #{{ vm.case.case_number }}</h1>
    </div>
  </div>
</header>
<div id="case-details" class="container">
  <div class="row case-details">
    <div class="col-xs-12">
      <ul>
        <li>{{ vm.case.parties[0] }} <strong>VS</strong> {{ vm.case.parties[1] }}</li>
        <li>Date: {{ vm.case.hearing_date }}</li>
        <li>Type: {{ vm.case.hearing_type }}</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <h3 class="col-xs-12">Legal Conflicts</h3>
    <form class="form col-xs-12" name="conflicts">
      <!-- for now just add them on to the model -->
      <formly-form model="vm.model.conflicts" fields="vm.fields.conflicts">
        <div class="">
          <button class="btn btn-primary" ng-click="vm.saveConflicts()">
            Update conflicts
          </button>
        </div>
      </formly>
    </form>
  </div>
  <div class="row">
    <h3 class="col-xs-12">Interactions</h3>
    <form class="form col-xs-12" name="interactions">
      <!-- for now just add them on to the model -->
      <formly-form model="vm.model.interactions" fields="vm.fields.interactions">
        <div class="">
          <button class="btn btn-primary" ng-click="vm.saveInteraction()">
            Save interaciton
          </button>
        </div>
      </formly>
    </form>
  </div>
  <div class="row">
    <h3 class="col-xs-12">Assign services to this case</h3>
    <form class="form col-xs-12" name="services">
      <formly-form model="vm.model" fields="vm.fields.services">
        <div class="">
          <button class="btn btn-primary" ng-click="vm.saveServices()">
            Update assigned services
          </button>
        </div>
      </formly>
    </form>
  </div>
</div>
