<div class="cases-panel">
  <div class="row">
    <div class="col-xs-12">
      <!--<h2>{{ case.meta.hearing_date | date:"yyyy-MM-dd"}}</h2>-->
      <h2>Cases for</h2>
    </div>
  </div>
  <div ng-if="cases.length > 0" ng-repeat="case in filteredCases = (cases | filter: filter) | orderBy:['meta.hearing_date', 'meta.list_number','meta.case_number','meta.hearing_type']" class="{{ (case.conflicts.vla && case.conflicts.fls) ? 'danger' : ''}}">
    <div class="row">
      <div class="col-xs-12">
        <p>
          <strong>{{ case.meta.case_number }}</strong> | {{ case.meta.hearing_type }} - {{ case.meta.matter }}
          <br/><button class="text-right btn btn-action" ui-sref="outcomes.update({id: case.meta.case_number})">Case outcomes</button>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>Party</th>
              <th>Double conflict?</th>
              <th>Assigned Services</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="party in case.parties">
              <td>{{ party.name }}</td>
              <td>{{ (party.conflicts.vla && party.conflicts.fls) ? "Yes" : "No" }}</td>
              <td ng-if='party.assigned_services.length > 0'><span class="table-assigned-service" ng-repeat="(key, service) in party.assigned_services">{{ service }}, </span></td>
              <td ng-if='party.assigned_services.length == 0'>No services assigned yet</td>
              <!--<td>
                <button class="btn btn-action" name="button">Risk assessment</button>
              </td>-->
              <td>
                <button class="btn btn-action" ui-sref="cases.update({id: case.meta.case_number, party: party._id})">Update</button>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div ng-if="cases.length==0">
    <div class="row">
      <div class="col-xs-12">
        <p>No cases have been entered</p>
      </div>
    </div>
  </div>
</div>
