<header class="container">
  <div class="row page-nav">
    <div class="col-xs-12">
      <button ui-sref="cases.index" class="btn btn-secondary">Return</button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1 class="header-title">Case {{ vm.case.meta.case_number }}</h1>
    </div>
  </div>
</header>
<div id="case-update" class="container">
  <div class="row case-details">
    <div class="col-xs-12">
      <h3>{{ vm.case.meta.client }}</h3>
      <ul>
        <li>{{ vm.case.meta.hearing_date | date: "yyyy-MM-dd" }}</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 interactions" ng-repeat="interaction in vm.case.interactions">
      <p class="interaction-title">{{ interaction.created_at | date:"yyyy-mm-dd hh:mm"}} - {{ interaction.provider }}</>
      <p class="interaction">{{ interaction.interaction }}</p>
    </div>
  </div>
</div>
