<table class="table table-condensed">
  <thead>
    <tr>
      <th>Hearing date</th>
      <th>Case #</th>
      <th>Name</th>
      <th>Hearing type</th>
      <th>Has Outcomes?</th>
      <th>Services</th>
      <th>Conflict</th>
      <th>Update</th>
      <!--<th>Details</th>-->
      <th>Outcomes</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="case in filteredCases = (cases | filter: filter) | orderBy:['meta.hearing_date','meta.case_number','meta.hearing_type']" class="{{ (case.conflicts.vla && case.conflicts.fls) ? 'danger' : ''}}">
      <td>{{ case.meta.hearing_date | date:"yyyy-MM-dd"}}</td>
      <td>{{ case.meta.case_number }}</td>
      <td>
        {{ case.parties[0].name }} <br/>VS<br/> {{ case.parties[1].name }}
      </td>
      <td>{{ case.meta.hearing_type }} - {{ case.meta.matter }}</td>
      <td>{{ (_.isNull(case.outcomes) || case.outcomes.length == 0) ? "No" : "Yes" }}</td>
      <td>
        <ul class="table-assigned-services-list">
          <li ng-repeat="(key, service) in case.assigned_services">{{ service }}</li>
        </ul>
      </td>
      <td ng-if="case.conflicts.vla && case.conflicts.fls"><strong>Yes</strong></td>
      <td ng-if="!case.conflicts.vla || !case.conflicts.fls">No</td>
      <td>
        <button class="btn btn-action" ui-sref="cases.update({id: case.meta.case_number})">Update</button>
      </td>
      <!--<td>
        <button class="btn btn-action" ui-sref="cases.details({id: case.meta.case_number})">View details</button>
      </td>-->
      <td>
        <button class="btn btn-action" ui-sref="outcomes.update({id: case.meta.case_number})">Add outcomes</button>
      </td>
    </tr>
    <tr ng-if="filteredCases.length === 0">
      <td colspan="9">
        <p>No results match the filter '{{ vm.filter }}'&nbsp;<a ng-if="vm.filter.length > 0" class="btn-cancel" ng-click="vm.setProviderFilter('')">Clear all filters</a>
        </p>
      </td>
    </tr>
  </tbody>
</table>
