<header class="container">
  <h1 class="header-title">Cases</h1>
</header>
<div id="cases" class="container">
  <div id="cases-filter" class="row">
    <div class="col-xs-12">
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Filter by service <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li ng-click="vm.setProviderFilter('')">
            <a href="#">All service providers</a>
          </li>
          <li ng-repeat="provider in vm.providers" ng-click="vm.setProviderFilter(provider)">
            <a href="#">{{ provider.name }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Hearing date</th>
        <th>Case #</th>
        <th>Name</th>
        <th>Hearing type</th>
        <th>Has outcomes?</th>
        <th>Services</th>
        <th>Double conflict</th>
        <th>Update</th>
        <th>Details</th>
        <th>Outcomes</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="case in vm.cases" class="{{ (case.conflicts.vla && case.conflicts.fls) ? 'danger' : ''}}">
        <td>{{ case.meta.hearing_date | date:"yyyy-MM-dd"}}</td>
        <td>{{ case.meta.case_number }}</td>
        <td>
          {{ case.parties[0] }} <br/>VS<br/> {{ case.parties[1] }}
        </td>
        <td>{{ case.meta.hearing_type }}</td>
        <td>{{ (_.isNull(case.outcomes) || case.outcomes.length == 0) ? "No" : "Yes" }}</td>
        <td>
          <span ng-repeat="(key, service) in case.services">{{ service }},&nbsp;</span>
        </td>
        <td>{{ (case.conflicts.vla && case.conflicts.fls) ? "Yes" : "No" }}</td>
        <td>
          <button class="btn btn-action" ui-sref="cases.update({id: case.meta.case_number})">Update</button>
        </td>
        <td>
          <button class="btn btn-action" ui-sref="cases.details({id: case.meta.case_number})">View details</button>
        </td>
        <td>
          <button class="btn btn-action" ui-sref="outcomes.update({id: case.meta.case_number})">Add outcomes</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
