<!--<header class="page-header container-fluid">
  <div class="row page-title">
    <div class="col-xs-12">
      <h1 class="page-title">Cases dashboard</h1>
    </div>
  </div>
</header>-->
<section id="page-content" class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <cases-filters services="vm.service_providers" filters="vm.filters"></cases-filters>
    </div>
    <div class="col-xs-12 col-sm-9">
      <cases-list cases="vm.cases" filters="vm.filters"></cases-list>
    </div>
  </div>
</section>
