<div class="cases-panel">
  <div class="row">
    <div class="col-xs-12">
      <!--<h2>{{ case.meta.hearing_date | date:"yyyy-MM-dd"}}</h2>-->
      <h2>Cases for {date}</h2>
    </div>
  </div>
  <div ng-repeat="case in filteredCases = (cases | filter: filter) | orderBy:['meta.hearing_date','meta.case_number','meta.hearing_type']" class="{{ (case.conflicts.vla && case.conflicts.fls) ? 'danger' : ''}}">
    <div class="row">
      <div class="col-xs-12">
        <h4>{{ case.meta.case_number }} | {{ case.meta.hearing_type }} - {{ case.meta.matter }}</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>Party</th>
              <th>Double conflict?</th>
              <th>Has Outcomes?</th>
              <th>Services</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ case.parties[0].name }}</td>
              <td>{{ (case.conflicts.vla && case.conflicts.fls) ? "Yes" : "No" }}</td>
              <td>{{ (_.isNull(case.outcomes) || case.outcomes.length == 0) ? "No" : "Yes" }}</td>
              <td>
                <span class="table-assigned-service" ng-repeat="(key, service) in case.assigned_services">{{ service }},</span>
              </td>
              <td>
                <button class="btn btn-action" ui-sref="cases.update({id: case.meta.case_number})">Update</button>
                &nbsp;
                <button class="btn btn-action" ui-sref="outcomes.update({id: case.meta.case_number})">Add outcomes</button>
              </td>
            </tr>
            <tr>
              <td>{{ case.parties[1].name }}</td>
              <td>{{ (case.conflicts.vla && case.conflicts.fls) ? "Yes" : "No" }}</td>
              <td>{{ (_.isNull(case.outcomes) || case.outcomes.length == 0) ? "No" : "Yes" }}</td>
              <td>
                <span class="table-assigned-service" ng-repeat="(key, service) in case.assigned_services">{{ service }},</span>
              </td>
              <td>
                <button class="btn btn-action" ui-sref="cases.update({id: case.meta.case_number})">Update</button>
                &nbsp;
                <button class="btn btn-action" ui-sref="outcomes.update({id: case.meta.case_number})">Add outcomes</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
