<div class="interactions">
  <!--<h2>Interactions history</h2>-->
  <div ng-repeat="interaction in interactions | orderBy: '-created_at'" class="interaction">
    <h3 class="interaction-timestamp">
      <span class="fa fa-circle interaction-timestamp-marker">&nbsp;</span>
      {{ interaction.created_at | date: "yyyy-MM-dd hh:mm a" }} - {{ interaction.service_provider }}
    </h3>
    <ul class="interaction-list">
      <li class="interaction-content" ng-repeat="item in interaction.types">{{ item }}</li>
    </ul>
  </div>
</div>
