<header class="container">
  <div class="row page-nav">
    <div class="col-xs-12">
      <button ui-sref="cases.index" class="btn btn-secondary">Return</button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1 class="header-title">Outcomes for Case #{{ vm.case.meta.case_number }}</h1>
    </div>
  </div>
</header>
<div id="case-details" class="container">
  <div class="row case-details">
    <div class="col-xs-12">
      <ul>
        <li>{{ vm.case.parties[0].name }} <strong>VS</strong> {{ vm.case.parties[1].name }}</li>
        <li>Date: {{ vm.case.meta.hearing_date | date: "yyyy-MM-dd" }}</li>
        <li>Type: {{ vm.case.meta.hearing_type }}</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <h3 class="col-xs-12">Enter outcomes for this case</h3>
    <form class="form col-xs-12" name="outcomes">
      <formly-form model="vm.model.outcomes" fields="vm.fields.outcomes">
        <div class="">
          <button class="btn btn-primary" ng-click="vm.saveOutcomes()">
            Save outcomes
          </button>
        </div>
      </formly>
    </form>
  </div>
</div>
